# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.dbmdl
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider / VSCode
.idea/
.vscode/

# Other
*.log
*.cache
*.pdb
*.exe
*.dll
*.tmp
